.fondoVisor {
  background: #212c36;
  /*background-image: url("/assets/erpHammer/images/ZenBG-1.png"), url("/assets/erpHammer/images/ZenBG-2.png");*/
  background-image: url('/assets/erpHammer/images/fondoGolf.jpg');
  background-repeat: repeat-y;
}
.title {
  margin: 0;
  position: relative;
  top: 3vw;
  border-radius: 5px;
  padding-top: 15px;
  font-size: 2.3vw;
  color: #fff !important;
  line-height: 52px;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-family: 'Oswald', sans-serif;
}
.subtitle {
  margin: 0;
  position: relative;
  bottom: 11.5vw;
  font-size: 2.5vw;
  color: #fff !important;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-align: left;
  left: 2vw;
  font-family: 'Oswald', sans-serif;
}

.jornada {
  margin: 0;
  position: relative;
  bottom: 11.5vw;
  font-size:2.5vw;
  color: #fff !important;
  text-transform: uppercase;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-align: right;
  right: 6.5vw;
  font-family: 'Oswald', sans-serif;
}

.banner {
  background-color: #26659e;
  background-image: url('/assets/erpHammer/images/logo-country.png');
  background-repeat: repeat-y;
  background-size: 100%;
}
.picto {
  height: 7vw;
  position: relative;
  bottom: 2.7vw;
  right: 3vw;
}
.logo {
  position: relative;
  left: 2vw;
  height: 7vw;
  bottom: 2.5vw;
}
.contenedor_golf {
  position: relative;
  height: 70vh;
  overflow-y: hidden;
  text-align: center;
  padding: 0;
  background-color: black;
}
.contenedor_golf table {
  font-size: 1.2vw;
  font-family: 'Oswald', sans-serif;
}
.golf {
    position: absolute;
    bottom: 11.5vw;
    left: 10vw;
    width: 80vw;
}
.barra_s {
  position: relative;
  width: 100%;
  top: 9vw;
  background-color: rgb(34, 153, 84, 0.5);
  height: 2.4vw;
  padding: 0;
}
.bi {
  width: 90vw !important;
}
.negro {
  background-color: rgb(0, 0, 0, 0.3);
  height: 3vw;
}
.tabla_leyenda {
  position: relative;
  right: 3vw;
  top: -5.2vw;
  font-family: 'Oswald', sans-serif;
}
.hammer {
  height: 4vw;
}
.entel {
  height: 4vw;
}
.sponsor_gol {
  text-align: center;
}
.grilla_sponsor{
    position: relative;
bottom: 5.2vw;
}

/* cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(../../../../component/widgets/tablero-panel/font/DgBpgaYycijFA8v2hNt7MfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(../../../../component/widgets/tablero-panel/font/peRd8sj511qE2lHtK-QfcPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(../../../../component/widgets/tablero-panel/font/yg0glPPxXUISnKUejCX4qfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(../../../../component/widgets/tablero-panel/font/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }


  @media screen and (max-width: 750px) {
    .tabla_leyenda {
      position: relative;
      right: 3vw;
      top: -8vw;
      font-family: 'Oswald', sans-serif;
    }
}



