.subtotal{
    background-color: #d7d7da;
}
@media all and (max-width: 700px) {
    .visible-xs { display:none; }
}

@media all and (min-width: 700px) {
    .visible { display:none; }
}

.celda{
    background-color: #E2E2E2;
    width: 20px !important;
    color:#000 !important;
}