.text-center{
    text-align: center;
}
.perido_ta{
    font-family: 'Oswald', sans-serif;
    border: none !important;
    background: #3d4143!important;
    color: #f2f2f2 !important;
    font-size: 1.4em !important;
    border-radius: 5px !important;
    position:relative!important;
    box-sizing: border-box !important;
    height: 5vw !important;
    width: 100% !important;
    transition: all 500ms ease !important;
    padding: 0px 0px !important;
    overflow:hidden !important;
    font-size: 4vw !important;
}
.perido_ta span{
    position:relative!important;
    bottom: 0.5vw;
}
.btn{
    border: none !important;
    background: #e01f11!important;
    color: #f2f2f2 !important;
    font-size: 1.4em !important;
    border-radius: 5px !important;
    position:relative!important;
    box-sizing: border-box !important;
    height: 5vw !important;
    width: 100% !important;
    transition: all 500ms ease !important;
    padding: 0px 0px !important;
    overflow:hidden !important;
    font-weight: bold;
}
.cerrar_ta{
    font-family: 'Oswald', sans-serif;
    background-color: #30499e !important;
    color: #f9f7f7 !important;
    font-size: 3vw !important;
    font-weight: 200;
}
