<table style="font-size: 1.2em" class="tabla_leyenda">
  <tbody>
    <tr>
      <td class="{{estilo}}">Hoyo en Uno&nbsp;&nbsp;</td>
      <td style="width: 22px; border: 1px solid #000; background-color: #B39B3A !important;">&nbsp;&nbsp;</td>
      <td class="{{estilo}}">Albatros&nbsp;&nbsp;</td>
      <td style="width: 22px; border: 1px solid #000; background-color: #c077a0 !important;">&nbsp;&nbsp;</td>
      <td class="{{estilo}}">Eagle&nbsp;&nbsp;</td>
      <td style="width: 22px; border: 1px solid #000; background-color: #DB941B !important;">&nbsp;&nbsp;</td>
      <td class="{{estilo}}">Birdie&nbsp;&nbsp;</td>
      <td style="width: 22px; border: 1px solid #000; background-color: #249330 !important;">&nbsp;&nbsp;</td>
      <td class="{{estilo}}">Par&nbsp;&nbsp;</td>
      <td style="width: 22px; border: 1px solid #000; background-color: #FFF !important;">&nbsp;&nbsp;</td>
      <td class="{{estilo}}">Bogey&nbsp;&nbsp;</td>
      <td style="width: 22px; border: 1px solid #000; background-color: #5c77e5 !important;">&nbsp;&nbsp;</td>
      <td class="{{estilo}}">Double Bogey</td>
      <td style="width: 22px; border: 1px solid #000; background-color: #C30E29 !important;">&nbsp;&nbsp;</td>
    </tr>
  </tbody>
</table>