<!--<div class="card card-w-title" style="height:80vh;">
    <h1>Detalle Acreditación
    </h1>
    <div class="ui-g" style="text-align:center;height:75vh;">
        <div class="ui-g-6">
            <app-detalle-persona-acreditacion [PersonaId]="11"></app-detalle-persona-acreditacion>
        </div>
        <div class="ui-g-6">
            <iframe width="100%" style="height:66vh;" [src]="url" type='application/pdf'></iframe>
        </div>
    </div>        
</div>-->

    <iframe width="100%" style="height:66vh;" [src]="url" type='application/pdf'></iframe>