.HoyoEnUno{
    background-color: #B39B3A;        
}
.Albatroz{
    background-color: #c077a0;
}
.Eagle{
    background-color: #DB941B;    
}
.Birdie{
    background-color: #249330;
}
.Par{
    background-color: #fff;    
}
.Bogey{    
    background-color: #336AAB;        
}
.DBogey{
    background-color:#C30E29;        
}