.txtta-competidor{
    font-size: 1.4vw;
}
.txta-alto{
    min-height: 12vw;
}
.panel_competidor_ta .columna_ta{
    width: 31vw;
}
.panel_competidor_ta thead{
    display: none;
}
.panel_competidor_ta .cuadrado{
    width: 5vw;
    height: 1.5vw;
    border: 1px solid #4c4646;
}
.card.card-w-title {
    padding-bottom: 0 !important;
}