<div class="ui-g">
  <div class="ui-g-8">
    <h1>Cronograma {{nombreDeporte}}</h1>
  </div>
  <div class="ui-g-9">
    <button pButton type="button" class="ui-button-success" (click)="programacionDia()" icon="ui-icon-print" label="Programacion del dia"
      *ngIf="mostrarResumen"></button>
    <button pButton type="button" class="ui-button-warning" (click)="tablaPosiciones()" icon="ui-icon-print" label="Tabla de posiciones"
      *ngIf="mostrarResumen"></button>
    <button pButton type="button" class="ui-button-danger" (click)="tablaMedallero()" icon="ui-icon-print" label="Medallero"
      *ngIf="mostrarResumen"></button>
    <button pButton type="button" class="ui-button-success" (click)="tablaMedalleroEvento()" icon="ui-icon-print" label="Medallero Resumen"></button>
    <button pButton type="button" class="ui-button-info" (click)="resumenPartido()" icon="ui-icon-print" label="Resumen del Partido"
      *ngIf="mostrarResumen"></button>
    <button pButton type="button" class="ui-button-info" label="Ver marcador" icon="ui-icon-looks" (click)="verMarcador()" *ngIf="vButton"></button>
  </div>
</div>
<div class="card card-w-title">
  <div class="ui-g">

    <div class="ui-g-3 ui-md-5 ui-lg-5" style="text-align:right">Deporte: </div>
    <div class="ui-g-6 ui-md-6 ui-lg-6">
      <app-deportes [eventoId]="eventoId" (deporte)="handleDeporte($event)" [disable]="disableComboDeportes" [selectedValue]="deporteId"></app-deportes>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-3 ui-md-5 ui-lg-5" style="text-align:right">Fecha: </div>
    <div class="ui-g-6 ui-md-6 ui-lg-6">
      <p-calendar [(ngModel)]="fecha" [locale]="language" dateFormat="dd/mm/yy" [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true"
        [locale]="es" (onSelect)="hanldeCalendario()" [showIcon]="true"></p-calendar>
    </div>

  </div>
  <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none;text-align:right">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50">
  </div>
  <p-dataTable [value]="vista" [responsive]="true" [globalFilter]="gb" [rows]="20" [paginator]="true" selectionMode="single"
    (onRowSelect)="mostrarBotonResumen($event)" (onRowDblclick)="handleRowDblclick($event)">
    <!-- <p-column header="Cronograma" field="CronogramaId"></p-column> -->
    <!-- <p-column header="Hora" field="Hora" size="8"></p-column> -->

    
    <p-column header="Hora" field="Hora" size="8">
        <ng-template let-col let-car="rowData" pTemplate="body">
            <div>{{car.Hora}}</div>
            <div class="azul">{{car.Area}}</div>
        </ng-template>
    </p-column>
    <p-column header="Género" field="Genero">
      <ng-template let-col let-car="rowData" pTemplate="body">
        <div>{{car.Genero}}</div>
        <div class="azul">{{car.Fase}}</div>
      </ng-template>
    </p-column>
    <p-column header="Equipo A" field="EquipoA"></p-column>
    <p-column header="Equipo B" field="EquipoB"></p-column>
    <p-column header="Resultado" field="Puntuacion"></p-column>
    <p-column header="Escenario" field="Escenario">
      <ng-template let-col let-car="rowData" pTemplate="body">
        <div>{{car.Escenario}}</div>
        <div class="azul">{{car.Descripcion}}</div>
      </ng-template>
    </p-column>
    <p-column header="Estado" field="Estado">
      <ng-template let-col let-car="rowData" pTemplate="body">
        <span [style.color]="getColor(car[col.field])">{{car[col.field]}}</span>
      </ng-template>
    </p-column>

    <p-column header="" field="PlanillaId">
      <ng-template let-col let-car="rowData" pTemplate="body">
        <!-- <button pButton type="button" icon="ui-icon-info" (click)="planilla(dat)" value="{{dat[col.field]}}" class="ui-button-info" ></button> -->
        <div *ngIf="car[col.field] != null">
          <button pButton type="button" class="ui-button-info" (click)="MostrarPlanilla(car)" icon="ui-icon-list" label="Planilla"></button>
        </div>
      </ng-template>
    </p-column>
    <p-column header="" field="PlanillaId">
      <ng-template let-col let-car="rowData" pTemplate="body">
        <!-- <button pButton type="button" icon="ui-icon-info" (click)="planilla(dat)" value="{{dat[col.field]}}" class="ui-button-info" ></button> -->
        <div>
          <button pButton type="button" class="ui-button" (click)="DialogoPush(car)" icon="ui-icon-notifications" label="Push"></button>
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>
  <p-confirmDialog header="Confirmación" acceptLabel="Si" icon="fa fa-question-circle" width="425"></p-confirmDialog>
  <p-dialog header="{{TitlePush}}" [(visible)]="mostrarDialogoPush">
    <app-push [data]=dataPush (response)="responseDialog($event)"></app-push>
  </p-dialog>
</div>
<p-growl [(value)]="msgs"></p-growl>