<div class="ui-g-12 fondo" style="min-height:100%">
  
      <div class="ui-g-12 letitulotra "  >XI Juegos Suramericanos Cochabamba 2018</div>
      <div class="ui-g-12  " >
        <table width="100%" >
          <tr class="letra"><td class="tabla">{{sdia}}</td><td class="tabla">{{shora}}</td><td class="tabla">{{sminuto}}</td><td class="tabla">{{ssegundo}}</td></tr>
          <tr class="letitulotra"><td class="tablatitulo">días</td><td class="tablatitulo">horas</td>
            <td class="tablatitulo">minutos</td><td class="tablatitulo">segundos</td></tr>
            <tr class="letitulotra"><td class="tablatitulo" colspan="4">26 de Mayo 2018</td></tr>
        </table>
        </div>
        <div class="ui-g-12 pie "  ></div>
        <div class="ui-g-12 logos "  ></div>
  </div>

