
 <div class="ui-g-12 bodyPR">
       <table>
                    <tr >
                        <td >
                             <div class="ui-g-8 fondo_mensaje_sqPR" >

                              <span class="textoPR">{{this.fecha1}}</span>
                              <table  class="table1PR">
                                 <tr>
                                  <td>
                                     <img src="{{this.icono1}}" class="imgPR">
                                  </td>
                                  <td class="textoAtualPR">
                                                {{this.temperatura}}°C
                                  </td>
                                  <td>
                                <table>
                                        <tr>
                                        <td>
                                                <span class="texto3PR"></span> <span class="textoDMaxPR"> {{this.temp_maxima1}}°C </span>
                                        </td>

                                        </tr>
                                        <tr>
                                                <td>
                                                <span class="texto3PR"> </span><span class="texto3PR">{{this.temp_minima1}}°C</span> 
                                                </td>
                                                                        
                                        </tr>
                                </table>
                                               
                                                 
                                  </td>
                             
                                  </tr>
                              </table>

                              <div class="ui-g-8 fondo_m">
                                        <span class="tablaFondoCCPR">Humedad: {{this.humedad1}}% </span>
                                        <br>                                          
                                        <span class="tablaFondoCCPR">Viento: {{this.viento1}} Km/h</span>
                                </div>
                                <div class="abajoPR">
                                                <p class="textoUPR">{{this.texto1}}</p>      
                                        </div>    

                             </div>
                             
                                   
                        </td>
                        <td>
                           
                                        <div class="ui-g-8 fondo_mensaje_sqPR" >
                                                        
                                                <span class="textoPR">{{this.fecha2}}</span>
                                                <table  class="table1PR">
                                                   <tr>
                                                      <td>
                                                        <img src="{{this.icono2}}" class="img2PR">
                                                      </td>
                                                                                 
                                                      <td>
                                                        <table>
                                                        <tr>
                                                             <td>
                                                                 <span class="texto3PR">Max.:</span><span class="textoDMaxPR"> {{this.temp_maxima2}}°C </span>
                                                         </td>
                                                        
                                                         </tr>
                                                         <tr>
                                                        <td>
                                                                 <span class="texto3PR">Min.: </span><span class="texto3PR">{{this.temp_minima2}}°C</span> 
                                                      </td>
                                                                                                                        
                                                   </tr>
                                            </table>
                                                                                                       
                                                                                                         
                                         </td>
                                                                                     
                                         </tr>
                                         </table>
                                                        
                                         <div class="ui-g-8 fondo_m">
                                            <span class="tablaFondoCCPR">Humedad: {{this.humedad2}}% </span>
                                              <br>                                          
                                                      <span class="tablaFondoCCPR">Viento: {{this.viento2}} Km/h</span>
                                           </div>
                                          <div class="abajoPR">
                                     <p class="textoUPR">{{this.texto2}}</p>      
                                   </div>     
                                                        
                                  </div>
                                                                                           
         
                             
                        </td>
                        <td>
                                
                        <div class="ui-g-8 fondo_mensaje_sqPR" >
                                                        
                                <span class="textoPR">{{this.fecha3}}</span>
                                 <table  class="table1PR">
                                 <tr>
                                   <td>
                                        <img src="{{this.icono3}}" class="img2PR">
                                        </td>
                                                                                   
                                         <td>
                                         <table>
                                        <tr>
                                                <td>
                                                        <span class="texto3PR">Max.:</span><span class="textoDMaxPR"> {{this.temp_maxima3}}°C </span>
                                                 </td>
                                                                                                                        
                                         </tr>
                                        <tr>
                                        <td>
                                                <span class="texto3PR">Min.: </span><span class="texto3PR">{{this.temp_minima3}}°C</span> 
                                        </td>
                                                                                                                                                                                        
                                        </tr>
                                        </table>
                                                                                                       
                                                                                                         
                                        </td>
                                                                                     
                                        </tr>
                                        </table>
                                                        
                                        <div class="ui-g-8 fondo_m">
                                                <span class="tablaFondoCCPR">Humedad: {{this.humedad3}}% </span>
                                                        <br>                                          
                                                        <span class="tablaFondoCCPR">Viento: {{this.viento3}} Km/h</span>
                                        </div>
                                         <div class="abajoPR">
                                        <p class="textoUPR">{{this.texto3}}</p>      
                                                 </div>    
                                                        
                                        </div>
                                                                                           
              
                                  
                             </td>
                    </tr>


                    <tr >
                                <td >
                                    
                                         <div class="ui-g-8 fondo_mensaje_sqPR" >
                                                                
                                                <span class="textoPR">{{this.fecha4}}</span>
                                                <table  class="table1PR">
                                                 <tr>
                                                 <td>
                                                 <img src="{{this.icono1}}" class="img2PR">
                                                </td>
                                                                                           
                                                <td>
                                                 <table>
                                                 <tr>
                                                 <td>
                                                <span class="texto3PR">Max.:</span><span class="textoDMaxPR"> {{this.temp_maxima4}}°C </span>
                                                </td>
                                                                                                                                
                                                 </tr>
                                                <tr>
                                                 <td>
                                                 <span class="texto3PR">Min.: </span><span class="texto3PR">{{this.temp_minima4}}°C</span> 
                                                </td>
                                                                                                                                                                                                
                                                 </tr>
                                                </table>
                                                                                                               
                                                                                                                 
                                                 </td>
                                                                                             
                                                 </tr>
                                                </table>
                                                                
                                                <div class="ui-g-8 fondo_m">
                                                <span class="tablaFondoCCPR">Humedad: {{this.humedad4}}% </span>
                                                <br>                                          
                                                <span class="tablaFondoCCPR">Viento: {{this.viento4}} Km/h</span>
                                                 </div>
                                                                                                <div class="abajoPR">
                                                                                                                <p class="textoUPR">{{this.texto4}}</p>      
                                                                                                        </div>   
                                                                
                                                                                             </div>
                                                                                                    
                                           
                                </td>
                                <td>
                                   
                                 <div class="ui-g-8 fondo_mensaje_sqPR" >
                                                                
                                        <span class="textoPR">{{this.fecha5}}</span>
                                         <table  class="table1PR">
                                         <tr>
                                                 <td>
                                                <img src="{{this.icono1}}" class="img2PR">
                                                </td>
                                                                                             
                                                 <td>
                                                 <table>
                                                 <tr>
                                                <td>
                                                 <span class="texto3PR">Max.:</span><span class="textoDMaxPR"> {{this.temp_maxima5}}°C </span>
                                                </td>
                                                                                                                                
                                                 </tr>
                                                <tr>
                                                 <td>
                                                <span class="texto3PR">Min.: </span><span class="texto3PR">{{this.temp_minima5}}°C</span> 
                                                </td>
                                                                                                                                                                                                
                                                 </tr>
                                                </table>
                                                                                                               
                                                                                                                 
                                                 </td>
                                                                                             
                                                </tr>
                                                </table>
                                                                
                                                <div class="ui-g-8 fondo_m">
                                                        <span class="tablaFondoCCPR">Humedad: {{this.humedad5}}% </span>
                                                        <br>                                          
                                                        <span class="tablaFondoCCPR">Viento: {{this.viento5}} Km/h</span>
                                                </div>
                                                <div class="abajoPR">
                                                         <p class="textoUPR">{{this.texto5}}</p>      
                                                 </div>  
                                                                
                                        </div>
                                                                                                                         
                 
                                     
                                </td>
                                <td>
                                        
                                        <div class="ui-g-8 fondo_mensaje_sqPR" >
                                                                
                                                <span class="textoPR">{{this.fecha6}}</span>
                                                <table  class="table1PR">
                                                <tr>
                                                <td>
                                                 <img src="{{this.icono1}}" class="img2PR">
                                                 </td>
                                                                               
                                                <td>
                                                <table>
                                                <tr>
                                                 <td>
                                                 <span class="texto3PR">Max.:</span><span class="textoDMaxPR"> {{this.temp_maxima6}}°C </span>
                                                 </td>
                                                                                                                                
                                                 </tr>
                                                <tr>
                                                <td>
                                                 <span class="texto3PR">Min.: </span><span class="texto3PR">{{this.temp_minima6}}°C</span> 
                                                </td>
                                                                                                                                                                                                
                                                 </tr>
                                                </table>
                                                                                                               
                                                                                                                 
                                                </td>
                                                                                             
                                                </tr>
                                                </table>
                                                                
                                                <div class="ui-g-8 fondo_m">
                                                 <span class="tablaFondoCCPR">Humedad: {{this.humedad6}}% </span>
                                                 <br>                                          
                                                 <span class="tablaFondoCCPR">Viento: {{this.viento6}} Km/h</span>
                                                </div>
                                                 <div class="abajoPR">
                                                 <p class="textoUPR">{{this.texto6}}</p>      
                                                </div>     
                                                                
                                         </div>
                                                                                                            
                                          
                                     </td>
                            </tr>

                </table>

</div>  


