<div class="ui-g">
  <div class="row ui-g-12">
    <div class="ui-g-4 bloque">
      <div class="ui-g-6" style="padding: 0;">
        <img src="{{data[0].logoA}}" class="imgG">
      </div>
      <div class="delegacion ui-g-6">{{data[0].Delegacion_A}}</div>
    </div>

    <div class="ui-g-3 marcas"><span class="redondo">{{data[0].Marca_A}}</span> <span class="redondo">{{data[0].Marca_B}}</span></div>
    <div class="ui-g-4 bloque">
        <div class="delegacion_d ui-g-6">{{data[0].Delegacion_B}}</div>
        <div class="ui-g-6" style="padding: 0;">
      <img src="{{data[0].logoB}}" class="imgG_d">
    </div>
      
    </div>
    <div class="  ui-g-12">
      <div class="ui-g-2" style="padding: 0;">
        <img src="{{bandera}}" class="imgG">
      </div>
      <div class="barra ui-g-3" >{{NombreEquipo}}</div>
      <div class="barra ui-g-4" >{{jugador}}</div>
      <div class="delegacion ui-g-3" >{{NombreParametro}}</div>
    </div>
  </div>
 
</div>
