<div class="ui-g">
    <h1>Acreditaciones</h1>
    <div class="card card-w-title">
        <h3>Detalle</h3>
        <div class="ui-g" style="text-align:center;">
            <div class="ui-g-12 ui-md-6">
                <app-detalle-persona-acreditacion [PersonaId]="personaId"></app-detalle-persona-acreditacion>
            </div>
            <div class="ui-g-12 ui-md-6">
                <reporte-credencial [eventoId]="eventoId" [personaId]="personaId"></reporte-credencial>
            </div>
        </div>
    </div>
</div>